/*Colors used: 
Primary Color (purple): #BA59ff;
Secondary Color (blue): #22E6ff;
Secondary Color (pink): #FF55ff;
*/
body {
    background-color: #ffffff;
    font-family: 'permanent marker', sans-serif;
    font-size: 16px; 
    font-weight: 300;
    line-height: 1.6;
    color: #000000  
}/*
Colors used:
Primary Color (purple): #ba59ff;
Secondary Colors (blue): #22e6ff & (pink) #ff55ff;
*/
h1, h2, h3, h4 {
    line-height: 1.4
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 100%;
  }
  a {
    color: #ba59ff;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #ba59ff;
  }
  a:hover {
    color: #7536a2;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #7536a2;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ba59ff;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #7536a2; /* width of the border, type, color */
    transition: 0.4s
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ba59ff;
    text-transform: uppercase;
    border: 2px solid #ba59ff;
  }
  .button.contact:hover {
    background-color: #ba59ff;
    color: #ffffff;
  }

  /* Layout styling */
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .center {
    text-align: center;
  }
  .logo {
    max-width: 250px;
  }
  header {
    background-color: #ffe4c4;
    text-align: center;
    padding: 10px 0;
  }
 nav > ul > li  {
  display: inline-block;
  }
