/*Colors used: 
Primary Color (purple): #BA59ff;
Secondary Color (blue): #22E6ff;
Secondary Color (pink): #FF55ff;
*/
body {
    background-color: #ffffff;
    font-family: "permanent marker", Arial, Georgia, san;
    font-size: 16px; 
    font-weight: 300;
    line-height: 1.6;
    color: #2f2f2f  
}/*
Colors used:
Primary Color (purple): #ba59ff;
Secondary Colors (blue): #22e6ff & (pink) #ff55ff;
*/
.arial {font-family: Arial; }
h1, h2, h3, h4 {
    line-height: 1.4
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-family: Arial, Georgia, sans-serif;
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-family: Arial, Georgia, sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}
h4 {
  font-family: Arial, Georgia, sans-serif;
    font-size: 1.35em;
    font-weight: 400;
}
p {
  font-family: Arial, Georgia, sans-serif;
  font-size: 0.875em;
}
img {
    width: 100%;
  }
  a {
    color: #ba59ff;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #ba59ff;
  }
  a:hover {
    color: #7536a2;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #7536a2;
  }
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ba59ff;
    color: #ffffff; /* needed to override the default link color */
    font-family: Arial;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #7536a2; /* width of the border, type, color */
    transition: 0.4s
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ba59ff;
    text-transform: uppercase;
    border: 2px solid #ba59ff;
  }
  .button.contact:hover {
    background-color: #ba59ff;
    color: #ffffff;
  }

  /* Layout styling */
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .logo {
    max-width: 250px;
  }
  header {
    background-color: #efc4ffa2;
    padding: 10px 0;
  }
 nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 015px;
 }
 nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 700;
  color: #5d5b5b;
}
nav > ul > li > a:visited {
  color:#ba59ff;
}
nav > ul > li > a:hover {
  color: #7536a2;
  text-decoration: none; 
}
nav > ul > li > a:active {
  color: #7536a2;
  text-decoration: none; 
}
ul > li {
  padding: 0 15px;
  font-family: Arial, Georgia, sans-serif;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 700;
  color: #5d5b5b;
}
#hero {
  background-color: #efc4ffa2;
  text-align: center;
  padding: 20px 0;
  display: block;
  width: 100%;
  box-shadow: 5px 5px 5px 0px rgba(117, 117, 117, 0.75);
  position: relative;
}
footer { 
  background-color: #efc4ffa2;
  text-align: center;
  padding: 10px 0;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
header {
  text-align: unset;
  padding: 20px 0 99px;
  font-size: 18px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 0 10px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 { margin-top: 0;}
/* ==============================
Large devices (1024px or larger)
================================= */
.col-lg-7 {
  width: 58.33%;
}
.col-lg-5 {
  width: 41.66%;
}
[class*="col-"] {
  float: left;
  padding: 10px; 
}
@media only screen and (min-width: 1024px) {
}
.button {
  display: inline-block;
  background-color: #ba59ff;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7536a2;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
animation
================================= */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
